@charset "utf-8";

/*去掉body,h1,ul标签的内外边距*/
body,h1,ul,h2 {
	margin: 0;
	padding: 0;
}

/*将整体背景设置为白色*/
body {
	background-color: #fff;
}

/*去掉ul下li标签前面的圆点*/
ul {
	list-style: outside none none;
}

/*去掉a标签的下划线*/
a {
	text-decoration: none;
}

/*将主题标签隐藏*/
.none {
	display: none;
}

/*设置整体导航的宽度,高度,背景颜色*/
#header {
	width: 100%;
	min-width: 1263px;
	height: 70px;
	background: #333;
	/*此处的后加的，设置阴影并且层次最高，并设置成相对点*/
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 9999;
}

/*将导航进行宽度设置，以及居中，主要是导航的内部内容*/
#header .center {
	width: 1263px;
	margin: 0 auto;
}

/*设置logo的大小，设置logo的背景图片，将标签的字向左移动9999像素，使字不显示，最后将logo左浮动*/
#header .logo {
	width: 240px;
	height: 70px;
	background-image: url(../img/logo01.png);
	text-indent: -9999px;
	float: left;
}

/*将整个导航选项栏，设置大小，然后设置每个字中的间距，其实就是将li标签中的字，进行居中，设置字体大小，将整体有浮动*/
#header .link {
	width: 650px;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	float: right;
}

/*将导航选项，设置大小，将字体居中，每个li进行左浮动，就显示在一行了*/
#header .link li {
	width: 120px;
	height: 70px;
	text-align: center;
	float: left;
}

/*将a标签设置成区块，就会自动适应li标签的大小，然后设置a标签的颜色为灰色*/
#header .link a {
	display: block;
	color: #eee;
}

/*设置首页选项，默认就是黑色的。和。设置当鼠标移动到a标签上时，变成黑色的*/
#header .active a,
#header .link a:hover {
	background-color: #000;
}







/*底部通用样式*/

/*底部元素页脚的整体样式*/
#footer {
	height: 360px;
	background-color: #222;
}

/*编写页脚的上部分*/
#footer .top {
	width: 1263px;
	height: 280px;
	margin: 0 auto;
	text-align: center;
}

/*编写三个主体的通用样式，设置大小及改成內连块，以及靠左，最后，让所有块级元素內都向上垂直对齐*/
#footer .block {
	width: 410px;
	height: 320px;
	display: inline-block;
	color: #ccc;
	text-align: left;
	vertical-align: top;
}

/*修改主题的样式，比如合作伙伴这些*/
#footer h2 {
	font-weight: normal;
	padding: 20px 0 0 20px;
	font-size: 24px;
}

/*修改那个hr的线，然他变成虚线*/
#footer hr {
	width: 90%;
	border: 1px dashed #333;
}

/*下面联系人等的样式*/
#footer ul {
	color: #666;
	font-size: 18px;
	text-indent: 20px;
	line-height: 2;
}

#footer ul  li a {
	color: #666;
}

#footer ul  li a:hover {
	color: #000;
}

#footer .bottom {
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #777;
	background-color: #000;
	border-top: 1px solid #444;
}


