@charset "utf-8";

/*设置标题栏的背景图片，以及让图片进行左上到右下的进行变暗的渐变*/
#headline {
	width: 100%;
	min-width: 1263px;
	height: 300px;
	background: linear-gradient(to right bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../img/headline.jpg) no-repeat center;
}

/*设置标题位置的大小以及居中*/
#headline .center {
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}

/*整体的标题进行移位*/
#headline hgroup {
	padding: 100px 0 0 50px;
}

#headline h2 {
	color: #eee;
	font-size: 36px;
	letter-spacing: 1px;
}

#headline h3 {
	color: #eee;
	font-size: 20px;
	letter-spacing: 1px;
}

/*设置整个内容区域的空间*/
#container {
	width: 1263px;
	margin: 30px auto;
}

/*设置左侧区域的大小*/
#container .sidebar {
	width: 340px;
	float: right;
}

/*设置右侧区域的大小*/
#container .sidbox {
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}

/*设置右侧h2的样式*/
#container .sidbox h2 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
}

/*景点推荐中的内容*/
#container .tag {
	padding: 10px 0;
}

/*景点推荐中的内容*/
#container .tag li {
	display: inline-block;
	margin: 2px 0;
	width: 100px;
	height: 35px;
	line-height: 35px;
	background-color: #eee;
	text-align: left;
	text-indent: 8px;
}
#container .tag li a {
	display: block;
	color: #999;
}
/*鼠标放上去后的颜色*/
#container .tag a:hover {
	background: #458b00;
	color: #fff;
}

/*右侧栏中的图片区域*/
#container .figure {
	padding: 10px 0;
}

#container .hot figure {
	display: inline-block;
	color: #666;
	padding: 4px;
}

/*百宝箱下内容的距离*/
#container .box {
	padding: 10px 0;
}

#container .box a {
	display: inline-block;
	margin: 2px 0;
	width: 150px;
	height: 40px;
	line-height: 40px;
	color: #999;
	background-color: #eee;
	text-align: left;
	text-indent: 35px;
}

/*给百宝箱添加图片*/
#container .box .trea1 {
	background: #eee url(../img/trea1.png) no-repeat 10px center;
}
#container .box .trea2 {
	background: #eee url(../img/trea2.png) no-repeat 10px center;
}
#container .box .trea3 {
	background: #eee url(../img/trea3.png) no-repeat 10px center;
}
#container .box .trea4 {
	background: #eee url(../img/trea4.png) no-repeat 10px center;
}


/*设置左侧区域的大小*/
#container .list {
	width: 910px;
	float: left;
}

#container .infor {
	height: 45px;
	line-height: 45px;
	margin: 0 0 20px 0;
	background-color: #eee;
}

#container .information .left {
	display: inline-block;
	float: left;
}

#container .information .left li {
	width: 150px;
	height: 43px;
	line-height: 43px;
	font-size: 18px;
	display: inline-block;
}

#container .information .left li a {
	display: block;
	text-align: center;
	color: #666;
}

#container .information .left li:first-child {
	background-color: #fff;
	border-top: 2px solid #458B00;
	position: relative;
	left: 1px;
}

#container .information .right {
	float: right;
	padding: 0 20px 0 0;
}

#container .information .right li {
	display: inline-block;
	width: 60px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	text-align: center;
}

#container .information .right li a {
	padding: 3px 8px;
	color: #666;
}

#container .information .right li a.selected, #container .information .right li a:hover {
	background-color: #458B00;
	color: #fff;
}

#container .tour {
	height: 230px;
	position: relative;
	border: 1px solid #eee;
	margin: 0 0 20px 0;
}

#container .tour img {
	float: left;
}

#container .tour figcaption {
	width: 528px;
	height: 230px;
	float: right;
}

#container .tour hgroup {
	width: 300px;
}

#container .tour h2 {
	font-size: 24px;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	color: #333;
}

#container .tour h3 {
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	line-height: 1.5;
	color: #666;
}

#container .tour ol {
	padding: 0 0 0 25px;
	color: #666;
	line-height: 2;
}

#container .tour mark {
	padding: 0 5px;
	border: 1px solid #458B00;
	border-radius: 4px;
	background-color: #fff;
}

#container .tour .buy {
	position: absolute;
	top: 55px;
	right: 30px;
}

#container .tour .price {
	font-size: 20px;
	color: #f60;
}

#container .tour s {
	font-size: 16px;
	color: #999;
}

#container .tour strong {
	font-size: 36px;
}

#container .tour .reserve {
	margin: 10px 0 0 0;
}

#container .tour .reserve a{
	display: inline-block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

#container .tour .type {
	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-bottom-right-radius: 4px;
	background-color: #59b200;
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	position: absolute;
	top: 0;
	left: 0;
}

#container .tour .disc {
	width: 52px;
	height: 52px;
	background: url(../img/disc.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}

#container .tour .disc span {
	width: 52px;
	height: 52px;
	display: block;
	font-size: 14px;
	color: #ff7a4d;
	transform: rotate(45deg);
	text-indent: 7px;
	padding: 5px 0 0 0;
}

#container .tour footer {
	width: 528px;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	color: #666;
	position: absolute;
	bottom: 0;
	background-color: #fafafa;
	letter-spacing: 1px;
}

#container .tour time {
	color: #458B00;
}

#container .information .more,
#container .scenery .more {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 18px;
	margin: 0 auto;
	cursor: pointer;
	background-color: #fafafa;
}

/*机票订购*/
#container .ticket,
#container .scenery,
#container .about {
	color: #666;
}

#container .ticket h2,
#container .scenery h2,
#container .about h2 {
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
}

#container .ticket .type {
	font-size: 20px;
	margin: 20px 0 10px 0;
}

#container .ticket .type mark {
	color: #fff;
	background-color: #458B00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}

#container .ticket .form {
	font-size: 20px;
}

#container .ticket .form p {
	line-height: 3;
}

/*设置所有的input标签的样式*/
#container .ticket .form input {
	width: 250px;
	height: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 4px;
	padding: 5px;
	font-size: 18px;
	color: #666;
	margin: 0 0 0 16px;
}

/*设置表单中的大小*/
#container .ticket .left {
	width: 43%;
	display: inline-block;
}

#container .ticket .right {
	width: 43%;
	display: inline-block;
}

#container .ticket .button {
	width: 9%;
	display: inline-block;
}

#container .ticket .submit {
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 4px;
	background-color: #f60;
	font-size: 20px;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	top: -28px;
}

/*最新机票的内容*/
#container .ticket .new {
	margin: 20px 0 0 0;
	font-size: 20px;
}

#container .ticket .new ul {
	margin: 20px 0 0 0;
}

#container .ticket .new li {
	display: inline-block;
	padding: 5px 10px;
}

/*把第一个li的左边距去掉*/
#container .ticket .new li:first-child {
	padding-left: 0;
}

#container .ticket .new li:nth-child(2) {
	background-color: #458B00;
	color: #fff;
	border-radius: 4px;
}

#container .ticket table {
	width: 100%;
	margin: 20px 0 0 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

#container .ticket table th {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}

#container .ticket table td {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

#container .ticket table tr:nth-child(2n) {
	background-color: #fafafa;
}

#container .ticket table tr:hover {
	background-color: #eee;
}

#container .ticket .price {
	color: #f60;
}

/*加载更多标签的样式*/
#container .ticket .more2 {
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	color: #666;
}

/*预订标签的样式*/
#container .ticket .reserve {
	display: inline-block;
	width: 80px;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

/*左侧的风景欣赏*/
#container .scenery figure {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	width: 435px;
	margin: 15px 5px 15px 0;
	float: left;
	text-align: left;
}

#container .scenery figcaption {
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	color: #666;
}

/*关于我们*/
#container .about p {
	font-size: 20px;
	color: #666;
	line-height: 2;
	margin: 20px 0;
}

#container .about address {
	font-style: normal;
	font-size: 20px;
	color: #666;
	line-height: 1.6;
	margin: 20px 0;
}
