@charset "utf-8";

body {
	margin: 0;
}

table {
	margin: 0 auto;
	width: 960px;
	/* 去掉表格之间的间距 */
	border-spacing: 0;
}

.header {
	height: 120px;
	background: green;
}

.aside {
	width: 200px;
	height: 500px;
	background: Blue;
}

.section {
	width: 760px;
	height: 500px;
	background: BlueViolet;
}

.footer {
	height: 120px;
	background: CadetBlue;
}