@charset "utf-8";

/*去掉body,h1,ul标签的内外边距*/
body,h1,ul,h2,h3 {
	margin: 0;
	padding: 0;
}

/*将整体背景设置为白色*/
body {
	background-color: #fff;
}

/*去掉ul下li标签前面的圆点*/
ul {
	list-style: outside none none;
}

/*去掉a标签的下划线*/
a {
	text-decoration: none;
}

/*将主题标签隐藏*/
.none {
	display: none;
}


/*设置搜索区域的大小,设置该区域的图片，并设置成相对点*/
#search {
	width: 100%;
	min-width: 1263px;
	height: 600px;
	background: url(../img/search.jpg) no-repeat center;
	position: relative;
}

/*设置搜索框的大小和北京颜色，并且相对搜索区域的一半，然后使用margin进行微调，给搜索区域进行透明化，最后设置下菱角10px*/
#search .center {
	width: 600px;
	height: 60px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -300px;
	opacity: 0.6;
	border-radius: 10px;
}

/*设置input搜索标签的样式，设置大小，设置边框的圆滑，设置搜索框所在的位置*/
#search .search {
	width: 446px;
	height: 52px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -296px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	padding: 0 10px;
	outline: none;
}

/*设置button标签的样式，设置大小，设置所在的位置，设置当鼠标停留在上面的时候出现手的样式，字体加粗等*/
#search .button {
	width: 120px;
	height: 54px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 175px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
}

/*设置主体部分的大小以及间距*/
#tour {
	width: 1263px;
	height: 1150px;
	margin: 30px auto;
	text-align: center;
}

/*设置主体标签的大小，及字的间距，和字体颜色*/
#tour .center h2{
	margin: 10px 0;
	font-size: 45px;
	letter-spacing: 2px;
	color: #666;
}

/*设置主体描述p标签字体的颜色和间距*/
#tour .center p {
	color: #666;
	margin: 10px 0;
}

/*设置整个图文并茂的样式，设置边框和圆滑，内边距和外边距等，将下面的文字靠左，给当前对象做个相对点*/
#tour figure {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	width: 380px;
	margin: 15px 12px;
	text-align: left;
	position: relative;
}

/*图片进行剧中*/
#tour figure img {
	vertical-align: middle;
}

/*设置图片描述文字的颜色等*/
#tour figure figcaption {
	color: #777;
	font-size: 14px;
	padding: 7px 0 5px 0;
	letter-spacing: 1px;
	line-height: 1.5;
}

/*设置图片描述主要描述*/
#tour .title {
	color: #333;
	font-weight: normal;
}

/*设置价格颜色和大小*/
#tour .price {
	color: #f60;
	font-size: 14px;
}

/*设置价格大小*/
#tour .price strong {
	font-size: 20px;
	letter-spacing: 1px;
}

/*设置满意度的标签位置，先进行右浮动，然后相对于自己定位，微调位置*/
#tour .sat {
	color: #999;
	font-size: 13px;
	font-style: normal;
	float: right;
	position: relative;
	right: 5px;
	top: 5px;
}

/*调整最后一个标记*/
#tour .type {
	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-bottom-right-radius: 4px;
	background-color: #59b200;
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	position: absolute;
	top: 4px;
	left: 4px;
}
